@import "../../../assets/scss/variables.scss";

.left-sidebar {
  background-color: $primary-500;
  display: flex;
  min-width: 270px;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;

  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;

  .sidebar-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2.75rem;
    .sidebar-profile {
      display: flex;
      gap: 0.75rem;
      align-items: center;
      img {
        width: 56px;
        height: 56px;
        border-radius: 100%;
      }
      .user-info {
        display: flex;
        flex-direction: column;
        .username {
          color: $white;
          font-weight: bold;
          font-size: 18px;
        }
        .text-secondary {
          color: $gray-200;
          font-size: 12px;
        }
      }
    }
  }

  h4 {
    color: $white;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .left-sidebar-link {
    border-radius: 0.5rem;
    transition-property: color, background-color, border-color,
      text-decoration-color, fill, stroke, opacity, box-shadow, transform,
      filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    color: $white;

    a,
    .logout-button {
      display: flex;
      padding: 1rem;
      gap: 1rem;
      align-items: center;
      cursor: pointer;
    }
  }
  .left-sidebar-link--active {
    background-color: $primary-700;
  }
  .left-sidebar-link:hover {
    background-color: $primary-700;
  }
}
