@import "src/assets/scss/variables.scss";

.signup-page {
  .left-side {
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    .logo {
      color: $primary-500;
      font-size: 40px;
    }

    .signup-form {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .form-group {
        // width: 100%;
      }
    }
  }
}
