@import "src/assets/scss/variables.scss";

.snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
  transition: visibility 0s linear 0.5s;
}

.snackbar.show {
  visibility: visible;
  transition-delay: 0s;
}

.snackbar-error {
  background-color: $red-500;
}

.snackbar-success {
  background-color: $green-500;
}
