@import "src/assets/scss/variables.scss";

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1.75rem;
  width: 100%;
  list-style: none;
  padding: 0;
}

.grid-container li {
  position: relative;
  width: 100%;
  height: 20rem;
}

.grid-post_link {
  display: flex;
  height: 100%;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  border-radius: 16px;
}

.grid-post_link img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 100%;
}

.grid-post_user {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;

  .grid-post_user-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;

    img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
    }

    p {
      margin: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
