<div class="right-container">
    <div class="title-wrapper">
      <img src="../../../assets/icons/gallery-add-black.svg" alt="gallery-add-black">
      <h4>Create Post</h4>
    </div>

    <form (submit)="handleCreatePost($event)" class="create-post-form">
      <div class="caption-section">
        <app-textarea label="Caption" [(ngModel)]="caption"></app-textarea>
      </div>

      <div class="image-upload-section">
        <label for="image-upload">Add Photos</label>

        <div class="add-photo-wrapper" style="margin-top: 8px;">
          <img src="../../../assets/icons/file-upload.svg" alt="">
          <span>Upload a photo in PNG, JPG or SVG format</span>
          <input type="file" id="upload" (change)="handleFileChange($event)" hidden />
          <label for="upload" class="custom-file-button">Select from computer</label>

          <img *ngIf="fileURL" [src]="fileURL" alt="Selected File" />
        </div>
      </div>

      <div class="location-section">
        <app-input-text label="Add Location" [(ngModel)]="location"></app-input-text>
      </div>

      <div class="tags-section">
        <app-input-text label="Add Tags (separate by comma “,”)" placeholder="Travel, Art, Sport" [(ngModel)]="tags"></app-input-text>
      </div>

      <div class="buttons-section">
        <button class="btn btn-outlined" type="button" (click)="handleCancel()">Cancel</button>
        <button class="btn" type="submit">
          <ng-container *ngIf="loading; else createPostText">
            <div class="loader-wrapper">
              <app-loader></app-loader>
              Loading...
            </div>
          </ng-container>
          <ng-template #createPostText>Create Post</ng-template>
        </button>
      </div>
    </form>
  </div>
