<div class="auth-page">
  <div class="left-side">
    <h2 class="logo">PostShare</h2>
    <div class="auth-header">
      <h4>Log in to your account</h4>
      <p class="normal-md gray-500">Welcome back! Please enter your details</p>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="handleLogin()" class="auth-form">
      <div class="form-group">
        <app-input-text label="Email" placeholder="Email" formControlName='email'/>
      </div>
      <div class="form-group">
        <app-input-text label="Password" type="password" placeholder="Password" formControlName="password"  />

      </div>
      <app-button type="submit" class="btn btn-primary" >
        <ng-container *ngIf="loading | async; else loginText">
          <div class="loader-wrapper">

            <app-loader />
            Loading...
          </div>
        </ng-container>
        <ng-template #loginText>Log in</ng-template>
      </app-button>
    </form>
    <div class="signup-link">
      <span>Don’t have an account? </span>
      <a routerLink="/sign-up" class="btn btn-link">
        <app-text-button>Sign Up</app-text-button>
        </a>
    </div>
  </div>
</div>
