@import 'src/assets/variables.scss';

.input-container {
  display: flex;
  flex-direction: column;
  .input-text {
    border: 1px solid $gray-200;
    color: $gray-400;
    padding: 0 16px;
    outline: none;
  }
  .input-text:focus,
  .input-text:hover,
  .input-text:active {
    border-color: $primary-500;
    border-width: 1px;
  }

  .input-text--small {
    height: 32px;
    border-radius: 4px;
  }

  .input-text--medium {
    height: 40px;
    border-radius: 4px;
  }

  .input-text--large {
    height: 48px;
    border-radius: 6px;
  }

  .input-label {
    color: $black;
  }

  .input-label--small {
    font-size: 14px;
  }

  .input-label--medium {
    font-size: 16px;
  }

  .input-label--large {
    font-size: 18px;
  }
}
